/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  /*background-image: url("https://s3.amazonaws.com/mystartup.com/images/img1.jpeg");*/
  background-image: url("https://s3.amazonaws.com/mystartup.com/images/img1.jpeg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.footer{
    position: absolute;
    bottom:0;;
    width:100%;
    height:70px;
    background-color: blue;
    text-align:center;
    color: white;
}